extends layout
block body
  h2.text-center Customer Support
  .small-10.column.small-centered(ng-controller="customerSupport")
    .h3.text-center Machine Swap and Return
    form(name="swap" novalidate)
      .row.collapse
        .small-6.column
          .alert-box.prefix Customer ID
        .small-6.column
          input(type="text" name="custId"
            ng-model="custId"
            placeholder="ID" ng-minlength="6"
            ng-class="swap.custId.$valid && !swap.custId.$pristine? 'error': ''"
            on-blur
            ui-blur="swap.custId.$valid? findCust(): ''"
            ng-change="clearCustErr()"
            required)
        small.error(ng-show="swapCustError && !swap.custId.$pristine") No Customer Found
      .row.collapse
        .small-6.column
          .alert-box.prefix Return Machine Serial Number
        .small-6.column
          input(type="text"
            name="oldMachId"
            ng-model="oldMachId"
            placeholder="Serial Number"
            ng-minlength="3"
            ng-class="swap.oldMachId.$valid && swap.oldMachId.$dirty? 'error': ''"
            on-blur
            ui-blur="swap.oldMachId.$valid? findOwnedMachine(): ''"
            ng-change="clearOwnedMachineErr()"
            required)
          small.error(ng-show="findOwnedMachineError && !swap.oldMachId.$pristine") {{findOwnedMachineError}}
      //- not need but will keep just in case
        .row.collapse
          .small-6.column
            .alert-box.prefix New Machine Serial Number
          .small-6.column
            input(type="text"
              name="newMachId"
              ng-model="newMachId"
              placeholder="Serial Number"
              ng-minlength="3"
              ng-class="swap.newMachId.$valid && swap.newMachId.$dirty? 'error': ''"
              on-blur
              ui-blur="newMachId.length>3? findNewMachine(): ''"
              ng-change="clearNewMachineErr()")
            small.error(ng-show="findNewMachineErr && !swap.newMachId.$pristine") {{findNewMachineErr}}
      .row.collapse
        .small-6.column
          .alert-box Tracking Number
        .small-6.column
          .alert-box.secondary {{ trackingNum || 'Auto Generated'}}
      .row
        button.small-12.column.button(ng-disabled="swap.$isValid" ng-click="submitSwap()") Submit Swap
    h3.text-center Cartridge Credit
    form(name="cart" novalidate)
      .row.collapse
        .small-6.column
          span.prefix Customer ID
        .small-6.column
          input(type="text" name="custId"
            ng-model="custId"
            placeholder="ID"
            ng-minlength="6"
            ng-class="swapCustError && !cart.custId.$pristine? 'error': ''"
            on-blur
            ui-blur="cart.custId.$valid? findCust(): ''"
            ng-change="clearCustErr()"
            required)
          small.error(ng-show="swapCustError && !cart.custId.$pristine") No Customer Found
      .row.collapse
        .small-6.column
          span.prefix Cartridge Serial Number
        .small-6.column
          input(type="text"
            name="cartridgeId"
            ng-model="cartridgeId"
            placeholder="Serial Number(optional)"
            on-blur
            ui-blur="cartridgeId.length > 3? findCartridge(cartridgeId): ''"
            ng-change="clearCartridge()")
          small.error(ng-show="cartridgeErr && !cart.cartridgeId.$pristine") No Cartridge with that serial number
      .row.collapse
        .small-6.column
          span.prefix Number of Cartridges
        .small-6.column
          input(type="text"
          ng-model="numOfCartridges"
          placeholder="Number of Cartridges"
          required)
      .row
        .small-12.column.button(
          ng-dissabled="cart.$isValid"
          ng-click="submitCartridgeCredit(cartridgeId)") Submit Swap
    form(name="subs" novalidate)
      .row.collapse
        h3.text-center Change Subscription Rate
        .small-6.column
          span.prefix Customer ID
        .small-6.column
          input(
            type="text"
            ng-model="custId"
            name="custId"
            placeholder="ID"
            ng-minlength="6"
            ng-class="swapCustError && !subs.custId.$pristine? 'error': ''"
            on-blur
            ui-blur="subs.custId.$valid? findCust(): ''"
            ng-change="clearSubsErr()")
          small.error(ng-show="swapCustError && !subs.custId.$pristine") No Customer Found
      .row.collapse
        .small-6.column
          span.prefix Subscription plan
        .small-6.column
          select(
            ng-model="currentSubscriptionPlan"
            name="subscription"
            ng-options="plan.name for plan in plans track by plan.name"
            ng-change="clearSubsErr()")
      .row
        .small-12.column.button(
          ng-click="submitSubscription()") Submit Subscription Change
        small.error(ng-hide="submitSubcriptionErr") {{ submitSubscriptionErr }}
