extends layout
block body
  h2.text-center Customer Details
  form.small-10.column.small-centered(
    ng-controller="CustomerDetails"
    name="details"
    novalidate)
    .row.collapse(ng-class="custIdErr? 'error': ''")
      .small-3.column
        span.prefix Customer ID
      .small-6.column
        input(
          type="text"
          name="custId"
          ng-model="custId"
          ng-change="clearCustIdErr()"
          placeholder="Search with Customer ID")
      .small-3.column
        .postfix.button(
          ng-click="findCustomer(custId)") Search
      small.error(ng-show="custIdErr") {{ custIdErr }}
    .row.collapse(ng-class="orderIdErr? 'error': ''")
      .small-3.column
        span.prefix Order ID
      .small-6.column
        input(
          type="text"
          name="orderId"
          ng-model="orderId"
          ng-change="clearOrderIdErr()"
          placeholder="Seach with Order ID")
      .small-3.column
        .postfix.button(
          ng-click="findCustomerThroughOrder(orderId)"
          ng-required="!custId") Search
      small.error(ng-show="orderIdErr") {{ orderIdErr }}
    .row
      .divider
      .medium-4.column
        .row.collapse
          .small-3.column
            span.prefix Name
          .small-9.column
            input(
              type="text"
              ng-model="customer.name"
              placeholder="No Data"
              update-customer
              cust="cust")
        .row.collapse
          .small-3.column
            span.prefix Street Address
          .small-9.column
            input(
              type="text"
              ng-model="customer.address.street"
              placeholder="No Data"
              update-customer
              cust="customer")
        .row.collapse
          .small-3.column
            span.prefix City
          .small-9.column
            input(
              type="text"
              ng-model="customer.address.city"
              placeholder="No Data"
              update-customer
              cust="customer")
        .row.collapse
          .small-3.column
            span.prefix State
          .small-9.column
            input(
              type="text"
              ng-model="customer.address.state"
              placeholder="No Data"
              update-customer
              cust="customer")
        .row.collapse
          .small-3.column
            span.prefix Zip
          .small-9.column
            input(
              type="number"
              ng-model="customer.address.zip"
              placeholder="No Data"
              update-customer
              cust="customer")
        .row.collapse
          .small-3.column
            span.prefix Email
          .small-9.column
            input(
              type="email"
              ng-model="customer.primaryEmail"
              placeholder="No Data"
              update-customer
              cust="customer")
        .row.collapse
          .small-3.column
            span.prefix Phone
          .small-9.column
            input(
              type="text"
              ng-model="customer.phoneNum[0]"
              placeholder="No Data"
              update-customer
              cust="customer")
        .row.collapse
          .small-3.column
            span.prefix Fax
          .small-9.column
            input(
              type="text"
              ng-model="customer.faxNum[0]"
              placeholder="No Data"
              update-customer
              cust="customer")
        .row(ng-show="customer")
          span.label Multi-Customer Account?
          span.label.secondary {{customer.isMulti? "Yes": "No"}}
        .row(ng-hide="customer")
          span.label MultiCustomer Account?
          span.label.secondary No cust loaded.
      .medium-8.column
        .row
          table.small-8.column.small-centered
            tbody
              tr
                td Current Subscription
                td {{ customer && subscriptionPlan ? subscriptionPlan.name: "No Data" }}
              tr
                td Num of Mach. Swaps
                td {{ customer && swaps ? swaps.length: "No Data" }}
              tr
                td Num of filament Changes
                td {{ customer && filamentChanges ? filamentChanges.length: "No Data" }}
              tr
                td Num of Cartridge Returns
                td {{ customer && cartridgesReturned? cartridgesReturned.length: "No Data" }}
        .row.collapse
          .small-2.column
            span.prefix Date Range
          .small-5.column
            input(
              type="date"
              name="startDate"
              ng-model="startDate"
              ng-change="startDateRangeCheck()"
              ng-class="startDate && !isLessThanEnd? 'error':''"
              max="endDate | date: 'yyyy-MM-dd'"
              required)
            small.error(ng-show="startDate && !isLessThanEnd") Date must be before end date
          .small-5.column
            input(
              type="date"
              name="endDate"
              min="startDate"
              ng-model="endDate"
              ng-change="endDateRangeCheck()"
              ng-class="startDate && endDate && !isGreaterThanEnd? 'error':''"
              required)
            small.error(ng-show="startDate && endDate && !isGreaterThanStart") Date must be after start date
        .row
          table
            tr
              td Num of Cartridges Used
              td {{ numberUsedWithinRange ? numberUsedWithinRange: cartridges.length || "No Data" }}
      a.button.small(href="/customerSupport") Customer Support Page
    .row
      h3.text-left Machines
      .divider
      .label(ng-hide="customer") No Data
      table.small-9.column.small-centered(ng-show="customer && machines")
        thead
          tr
            th Serial Numbers
            th Type
            th Status
        tbody
          tr(ng-repeat="machine in machines" ng-show="customer && machines")
            td {{ machine.id }}
            td {{ machine.machineType }}
            td {{ machine.machineStatus }}
    .row
      h3.text-center Records
      .divider
      h4.text-left Machines Returned
      .label(ng-hide="orders") No Data
      table.small-9.column.small-centered(ng-show="customer && machinesReturned")
        thead
          tr
            th Serial Number
            th Type
            th Status
        tbody
          tr(ng-repeat="machine in machinesReturned" ng-show="customer && machinesReturned")
            td {{ machine.id }}
            td {{ machine.machineType }}
            td {{ machine.machineStatus }}
    .row
      h4.text-left Orders
      .label(ng-hide="orders") No Data
      accordion(close-others="true")
        accordion-group(
          ng-repeat="order in orders"
          heading="ID: {{ order.id }}  -  Date: {{ order.datePlaced | date: 'dd/MM/yyyy' }}")
          .row
            .small-3.column Order
            .small-3.column {{ order.id }}
            .small-3.column Date Recieved
            .small-3.column {{ order.datePlaced | date: 'dd/MM/yyyy' }}
          .row
            table.small-9.column.small-centered(ng-show="order.items.length > 0")
              thead
                tr
                  td items
                  td Serial Numbers
                  td Status
                  td Tracking Numbers
              tbody
                tr(ng-repeat="item in orders.items")
                  td {{ item.name }}
                  td {{ item.id }}
                  td {{ item.status }}
                  td {{ item.trackingNum }}
          .row
            .small-3.column Order Total
            .small-3.column {{ order.total }}
            .small-6.column
          .row(ng-repeat="payment in order.payments")
            .small-3.column Amount Paid
            .small-3.column {{ payment.amount }}
            .small-3.column Date
            .small-3.column {{ payment.date }}
          .row
            .small-3.column Amount Owed
            .small-3.column {{ order.amountDue }}
    .row
      h4.text-left Returns
      h5.text-center Swaps
      .label(ng-hide="swaps") No Data
      accordion(close-others="true")
        accordion-group(
          ng-show="swaps"
          ng-repeat="swap in swaps"
          heading="ID: {{ swap.id }}  -  Date: {{ swap.date | date: 'dd/MM/yyyy' }}")
          .row
            table.small-9.column.small-centered(ng-show="true")
              thead
                tr
                  td Swap Id
                  td Old Machine
                  td New Machine
                  td Shipment Numbers
              tbody
                tr(ng-repeat="swap in swaps")
                  td {{ swap.id}}
                  td {{ swap.oldMachineNum }}
                  td {{ swap.newMachineNum }}
                  td {{ swap.trackingNum }}
      h5.text-center Filament Changes
      .label(ng-hide="filamentChanges") No Data
      accordion(close-others="true")
        accordion-group(
          ng-show="filamentChanges"
          ng-repeat="filamentChange in filamentChanges"
          heading="ID: {{ filamentChange.id }}  -  Date: {{ filamentChange.date | date: 'dd/MM/yyyy' }}")
          .row
            .small-3.column.panel.callout Time
            .small-3.column.panel {{ filamentChange.time || "No Data" }}
            .small-3.column.panel.callout Volume Used
            .small-3.column.panel {{ filamentChange.volumeUsed || "No Data" }}
      h5.text-center Cartridge Returns
      .label(ng-hide="cartridgesReturned") No Data
      accordion(close-others="true")
        accordion-group(
          ng-show="cartridgesReturned"
          ng-repeat="return in cartridgesReturned"
          heading="ID: {{ return.id}} - Date: {{ return.date | date: 'dd/MM/yyyy' }}")
          .row
            .small-4.column.panel.callout Cartridge Id
            .small-4.column.panel {{ return.cartridgeId || "No Data" }}
            .small-4.column
block footer
  script(type="text/javascript" src="js/controllers/customerDetails.js")
