extends layout
block body
  h2.text-center Customer Details
  form.small-10.column.small-centered(
    ng-controller="customerDetails"
    name="details"
    novalidate)
    .row.collapse(ng-class="custIdErr? 'error': ''")
      .small-3.column
        span.prefix Customer ID
      .small-6.column
        input(
          type="text"
          name="custId"
          ng-model="custId"
          ng-change="clearCustIdErr()"
          placeholder="Search with Customer ID")
      .small-3.column
        .postfix.button(
          ng-click="findCustomer(custId)") Search
      small.error(ng-show="custIdErr") {{ custIdErr }}
    .row.collapse(ng-class="orderIdErr? 'error': ''")
      .small-3.column
        span.prefix Order ID
      .small-6.column
        input(
          type="text"
          name="orderId"
          ng-model="orderId"
          ng-change="clearOrderIdErr()"
          placeholder="Seach with Order ID")
      .small-3.column
        .postfix.button(
          ng-click="findCustomerThroughOrder(orderId)"
          ng-required="!custId") Search
      small.error(ng-show="orderIdErr") {{ orderIdErr }}
    .row
      .divider
      .medium-4.column
        .row.collapse
          .small-3.column
            span.prefix Name
          .small-9.column
            input(
              type="text"
              ng-model="customer.name"
              placeholder="No Data"
              update-customer
              cust="cust")
        .row.collapse
          .small-3.column
            span.prefix Street Address
          .small-9.column
            input(
              type="text"
              ng-model="customer.address.street"
              placeholder="No Data"
              update-customer
              cust="customer")
        .row.collapse
          .small-3.column
            span.prefix City
          .small-9.column
            input(
              type="text"
              ng-model="customer.address.city"
              placeholder="No Data"
              update-customer
              cust="customer")
        .row.collapse
          .small-3.column
            span.prefix State
          .small-9.column
            input(
              type="text"
              ng-model="customer.address.state"
              placeholder="No Data"
              update-customer
              cust="customer")
        .row.collapse
          .small-3.column
            span.prefix Zip
          .small-9.column
            input(
              type="number"
              ng-model="customer.address.zip"
              placeholder="No Data"
              update-customer
              cust="customer")
        .row.collapse
          .small-3.column
            span.prefix Email
          .small-9.column
            input(
              type="email"
              ng-model="customer.primaryEmail"
              placeholder="No Data"
              update-customer
              cust="customer")
        .row.collapse
          .small-3.column
            span.prefix Phone
          .small-9.column
            input(
              type="text"
              ng-model="customer.phoneNum[0]"
              placeholder="No Data"
              update-customer
              cust="customer")
        .row.collapse
          .small-3.column
            span.prefix Fax
          .small-9.column
            input(
              type="text"
              ng-model="customer.faxNum[0]"
              placeholder="No Data"
              update-customer
              cust="customer")
        .row(ng-show="customer")
          span.label Multi-Customer Account?
          span.label.secondary {{customer.isMulti? "Yes": "No"}}
        .row(ng-hide="customer")
          span.label MultiCustomer Account?
          span.label.secondary No cust loaded.
      .medium-8.column
        .row
          table.small-8.column.small-centered
            tbody
              tr
                td Current Subscription
                td {{ customer && subscriptionPlan ? subscriptionPlan.name: "No Data" }}
              tr
                td Num of Mach. Swaps
                td {{ customer && swaps ? swaps.length: "No Data" }}
              tr
                td Num of filament Changes
                td {{ customer && filamentChanges ? filamentChanges.length: "No Data" }}
              tr
                td Num of Cartridge Returns
                td {{ customer && cartReturns ? cartReturns.length: "No Data" }}
        .row.collapse
          .small-2.column
            span.prefix Date Range
          .small-5.column
            input(
              type="date"
              name="startDate"
              ng-model="startDate"
              ng-change="startDateRangeCheck()"
              ng-class="startDate && !isLessThanEnd? 'error':''"
              max="endDate | date: 'yyyy-MM-dd'"
              required)
            small.error(ng-show="startDate && !isLessThanEnd") Date must be before end date
          .small-5.column
            input(
              type="date"
              name="endDate"
              min="startDate"
              ng-model="endDate"
              ng-change="endDateRangeCheck()"
              ng-class="startDate && endDate && !isGreaterThanEnd? 'error':''"
              required)
            small.error(ng-show="startDate && endDate && !isGreaterThanStart") Date must be after start date
        .row
          table
            tr
              td Num of Cartridges Used
              td {{ numberUsedWithinRange ? numberUsedWithinRange: cartridge.length || "No Data" }}
    .row
      h3.text-left Machines
      .divider
      .label(ng-hide="customer") No Data
      table.small-9.column.small-centered(ng-show="customer")
        thead
          tr
            th Serial Numbers
            th Type
            th Status
        tbody
          tr(ng-repeat="machine in machines" ng-show="customer")
            td {{ machine.id }}
            td {{ machine.machineType }}
            td {{ machine.machineStatus }}
    .row
      h3.text-center Records
    .divider
    .row
      h4.text-left Orders
      .label(ng-hide="orders") No Data
      accordion(close-others="true")
        accordion-group(
          ng-repeat="order in orders"
          heading="ID: {{ order.id }}  -  Date: {{ order.datePlaced }}")
    .row
      h4.text-left Returns
      .label(ng-hide="swaps || returns") No Data
      accordion(close-others="true")
        accordion-group(
          ng-show="swaps"
          ng-repeat="swap in swaps"
          heading="ID: {{ swap.id }}  -  Date: {{ swap.date }}")
        accordion-group(
          ng-show="returns"
          ng-repeat="return in returns"
          heading="ID: {{ return.id }}  -  Date: {{ return.date }}")


