extends layout
block body
  h2.text-center Global Overview
  .small-10.column.small-centered(ng-controller="globerView")
    h3.text-center Machines
    .divider
    h4.text-left Overview
    form(name="date.range").row.collapse
      .small-3.column
        span.prefix Date Range
      .small-3.column
        input(
          type="date"
          ng-model="startDate"
          ng-change="startDateCap()"
          required)
      .small-3.column
        input(
          type="date"
          ng-model="endDate"
          ng-change="endDateCap()"
          required)
      .small-3.column
        span.postfix.button(ng-click="updateData(startDate, endDate)") Update
    .row.collapse
      .small-3.column
        span.alert-box.text-center Type
      .small-3.column
        span.alert-box.secondary.text-center Made
      .small-3.column
        span.alert-box.secondary.text-center Shipped
      .small-3.column
        span.alert-box.secondary.text-center Returned
    .row.collapse
      .small-3.column
        span.alert-box Printers
      .small-3.column
        span.alert-box.secondary {{ printers.made }}
      .small-3.column
        span.alert-box.secondary {{ printers.shipped }}
      .small-3.column
        span.alert-box.secondary {{ printers.returned }}
    .row.collapse
      .small-3.column
        span.alert-box Scanners
      .small-3.column
        span.alert-box.secondary {{ scanners.made }}
      .small-3.column
        span.alert-box.secondary {{ scanners.shipped }}
      .small-3.column
        span.alert-box.secondary {{ scanners.returned }}
    .row.collapse
      .small-3.column
        span.alert-box Tablets
      .small-3.column
        span.alert-box.secondary {{ tablets.made }}
      .small-3.column
        span.alert-box.secondary {{ tablets.shipped }}
      .small-3.column
        span.alert-box.secondary {{ tablets.returned }}
    h4.text-left Details
    .row.collapse
      .small-3.column
        span.prefix Product Type
      .small-3.column.end
        select(ng-model="productType")
          option(value="") All
          option(value="printer") Printer
          option(value="scanner") Scanner
          option(value="tablet") Tablet
    .row.scrollable
      table
        thead
          tr
            th Serial Number
            th Status
            th Date Created
            th Number of Services
            th Current Customer
            th Previous Customer
        tbody
          tr(ng-repeat="machine in machines | filter: { machineType: productType }")
            td: a(href="/machineDetails/{{ machine.id }}") {{ machine.id }}
            td {{ machine.machineStatus }}
            td {{ machine.dateManufactured }}
            td {{ machine.numOfServices }}
            td {{ machine.ownedBy || "None" }}
            td {{ machine.prevOwner || "None" }}
    .row.collapse
      h3.text-left Cartridges and Filaments
      .divider
      h4.text-left Overview
      .small-3.column
    .row.collapse
      .small-3.column
        span.alert-box.text-center Type
      .small-3.column
        span.alert-box.secondary.text-center Made
      .small-3.column
        span.alert-box.secondary.text-center Shipped
      .small-3.column
        span.alert-box.secondary.text-center Returned
    .row.collapse
      .small-3.column
        span.alert-box Cartridges
      .small-3.column
        span.alert-box.secondary {{ cartridgesOverview.made }}
      .small-3.column
        span.alert-box.secondary {{ cartridgesOverview.shipped }}
      .small-3.column
        span.alert-box.secondary {{ cartridgesOverview.returned }}
    .row.collapse
      .small-3.column
        span.alert-box Filaments
      .small-3.column
        span.alert-box.secondary {{ filamentsOverview.made }}
      .small-3.column
        span.alert-box.secondary {{ filamentsOverview.shipped }}
      .small-3.column
        span.alert-box.secondary {{ filamentsOverview.returned }}
    .row
      .small-12.column.button Export as CSV
    .row
      h3.text-left Customers
      .small-12.column.button Generate Customer Report

