extends layout
block body
  h2.text-center Product and Pricing Master
  form.small-10.column.small-centered(ng-controller="SubscriptionSettings")
    .row.scrollable
      h3.text-left Material Shipping Units
      .divider
      small.error(ng-if="saveUnitErr") {{ saveUnitErr }}
      table.small-12.column.table(ng-table="matTable")
        tr(ng-repeat="unit in units")
          td(data-title="'Name'")
            span(ng-if="!unit.$edit") {{ unit.name }}
            div(ng-if="unit.$edit")
              input(
                type="text"
                ng-model="unit.name"
                name="unit.name")
          td(data-title="'ID'")
            span(ng-if="!unit.$edit") {{ unit.unitId}}
            div(ng-if="unit.$edit")
              input(
                type="text"
                ng-model="unit.unitId"
                name="unit.unitId")
          td(data-title="'Number of Cartons'")
            span(ng-if="!unit.$edit") {{ unit.cartons }}
            div(ng-if="unit.$edit")
              input(
                type="number"
                ng-model="unit.cartons"
                name="unit.cartons")
          td(data-title="'Cartridges Per Carton'")
            span(ng-if="!unit.$edit") {{ unit.cartridgesPerCarton }}
            div(ng-if="unit.$edit")
              input(
                type="number"
                ng-model="unit.cartridesPerCarton"
                name="unit.cartridesPerCarton")
          td(data-title="'Reels of Filament'")
            span(ng-if="!unit.$edit") {{ unit.reelsOfFilament }}
            div(ng-if="unit.$edit")
              input(
                type="number"
                ng-model="unit.reelsOfFilament"
                name="unit.reelsOfFilament")
          td(data-title="'Kg or Material per Reel'")
            span(ng-if="!unit.$edit") {{ unit.kgOfMaterialPerReel }}
            div(ng-if="unit.$edit")
              input(
                type="number"
                ng-model="unit.kgOfMaterialPerReel"
                name="unit.kgOfMaterialPerReel")
          td(data-title="'Edit'")
            a.button.tiny.radius(ng-if="!unit.$edit" ng-click="unit.$edit = true") Edit
            a.button.tiny.radius(ng-if="unit.$edit" ng-click="saveUnit(unit)") Save
          td(data-title="'Delete'")
            a.button.tiny.radius.alert(ng-click="deleteUnit(unit)") Delete
    .row
      .small-12.column.tiny.button(ng-click="addUnit()") Add Unit
    .row
      h3.text-center Pricing Plan A
      .divider
      small.error(ng-if="subAErr") {{ subAErr }}
      .scrollable: table(ng-table="subATable")
        tr(ng-repeat="plan in subA")
          td(data-title="'Name'")
            span(ng-if="!plan.$edit") {{ plan.name }}
            div(ng-if="plan.$edit")
              input(
              type="text"
              ng-model="plan.name"
              name="plan.name")
          td(data-title="'CartridgesPerMonth'")
            span(ng-if="!plan.$edit") {{ plan.cartridgesPerMonth }}
            div(ng-if="plan.$edit")
              input(
              type="number"
              ng-model="plan.cartridgesPerMonth"
              name="plan.cartridgesPerMonth")
          td(data-title="'Price/Including Subscription Cartridge'")
            span(ng-if="!plan.$edit") {{ plan.priceIncludingSubscriptionCartridge }}
            div(ng-if="plan.$edit")
              input(
              type="number"
              ng-model="plan.priceIncludingSubscriptionCartridge"
              name="plan.priceIncludingSubscriptionCartridge")
          td(data-title="'kg of Filament/Month'")
            span(ng-if="!plan.$edit") {{ plan.kgFilamentPerMonth }}
            div(ng-if="plan.$edit")
              input(
              type="number"
              ng-model="plan.kgFilamentPerMonth"
              name="plan.kgFilamentPerMonth")
          td(data-title="'Price Including Subscription Filament'")
            span(ng-if="!plan.$edit") {{ plan.priceIncludingSubscritionFilament }}
            div(ng-if="plan.$edit")
              input(
              type="number"
              ng-model="plan.priceIncludingSubscritionFilament"
              name="plan.priceIncludingSubscritionFilament")
          td(data-title="'Price Per Additional Filament'")
            span(ng-if="!plan.$edit") {{ plan.pricePerAddFilament }}
            div(ng-if="plan.$edit")
              input(
              type="number"
              ng-model="plan.pricePerAddFilament"
              name="plan.pricePerAddFilament")
          td(data-title="'Price Per Additional Cartridge'")
            span(ng-if="!plan.$edit") {{ plan.pricePerAddCartridge }}
            div(ng-if="plan.$edit")
              input(
              type="number"
              ng-model="plan.pricePerAddCartridge"
              name="plan.pricePerAddCartridge")
          td(data-title="'Replenish Cartridge Inventory At'")
            span(ng-if="!plan.$edit") {{ plan.replenishCartridgeAt }}
            div(ng-if="plan.$edit")
              input(
              type="number"
              ng-model="plan.replenishCartridgeAt"
              name="plan.replenishCartridgeAt")
          td(data-title="'Replenish Filament Inventory At'")
            span(ng-if="!plan.$edit") {{ plan.replenishFilamnentAt }}
            div(ng-if="plan.$edit")
              input(
              type="number"
              ng-model="plan.replenishFilamentAt"
              name="plan.replenishFilamentAt")
          td(data-title="'Replenish Cartridge Inventory With'")
            span(ng-if="!plan.$edit") {{ plan.replenishCartridgeWith}}
            div(ng-if="plan.$edit")
              input(
              type="text"
              ng-model="plan.replenishCartridgeWith"
              name="plan.replenishCartridgeWith")
          td(data-title="'Replenish Filament Inventory With'")
            span(ng-if="!plan.$edit") {{ plan.replenishFilamentWith }}
            div(ng-if="plan.$edit")
              input(
              type="text"
              ng-model="plan.replenishFilamentWith"
              name="plan.replenishFilamentWith")
          td(data-title="'Edit'")
            a.button.tiny.radius(ng-if="!plan.$edit" ng-click="plan.$edit = true") Edit
            a.button.tiny.radius(ng-if="plan.$edit" ng-click="savePlan(plan)") Save
          td(data-title="'Delete'")
            a.button.tiny.radius.alert(ng-click="deletePlan(plan)") Delete
    .row
      .small-12.column.tiny.button(ng-click="addPlan('subA')") Add New Subscription Plan
    .row
      h3.text-center Pricing Plan B
      .divider
      small.error(ng-if="subBErr") {{ subBErr }}
      .scrollable: table(ng-table="subATable")
        tr(ng-repeat="plan in subB")
          td(data-title="'Name'")
            span(ng-if="!plan.$edit") {{ plan.name }}
            div(ng-if="plan.$edit")
              input(
              type="text"
              ng-model="plan.name"
              name="plan.name")
          td(data-title="'Price Per Month'")
            span(ng-if="!plan.$edit") {{ plan.pricePerMonth }}
            div(ng-if="plan.$edit")
              input(
              type="number"
              ng-model="plan.pricePerMonth"
              name="plan.plan.pricePerMonth")
          td(data-title="'Cost Per Print'")
            span(ng-if="!plan.$edit") {{ plan.costPerPrint }}
            div(ng-if="plan.$edit")
              input(
              type="number"
              ng-model="plan.costPerPrint"
              name="plan.costPerPrint")
          td(data-title="'Cost Per Additional Print'")
            span(ng-if="!plan.$edit") {{ plan.costPerAddPrint }}
            div(ng-if="plan.$edit")
              input(
              type="number"
              ng-model="plan.costPerAddPrint"
              name="plan.costPerAddPrint")
          td(data-title="'Replenish Cartridge Inventory At'")
            span(ng-if="!plan.$edit") {{ plan.replenishCartridgeAt }}
            div(ng-if="plan.$edit")
              input(
              type="number"
              ng-model="plan.replenishCartridgeAt"
              name="plan.replenishCartridgeAt")
          td(data-title="'Replenish Filament Inventory At'")
            span(ng-if="!plan.$edit") {{ plan.replenishFilamnentAt }}
            div(ng-if="plan.$edit")
              input(
              type="number"
              ng-model="plan.replenishFilamentAt"
              name="plan.replenishFilamentAt")
          td(data-title="'Replenish Cartridge Inventory With'")
            span(ng-if="!plan.$edit") {{ plan.replenishCartridgeWith}}
            div(ng-if="plan.$edit")
              input(
              type="text"
              ng-model="plan.replenishCartridgeWith"
              name="plan.replenishCartridgeWith")
          td(data-title="'Replenish Filament Inventory With'")
            span(ng-if="!plan.$edit") {{ plan.replenishFilamentWith }}
            div(ng-if="plan.$edit")
              input(
              type="text"
              ng-model="plan.replenishFilamentWith"
              name="plan.replenishFilamentWith")
          td(data-title="'Edit'")
            a.button.tiny.radius(ng-if="!plan.$edit" ng-click="plan.$edit = true") Edit
            a.button.tiny.radius(ng-if="plan.$edit" ng-click="savePlan(plan)") Save
          td(data-title="'Delete'")
            a.button.tiny.radius.alert(ng-click="deletePlan(plan)") Delete
    .row
      .small-12.column.tiny.button(ng-click="addPlan('subB')") Add New Subscription Plan
      .divider
block footer
  script(type="text/javascript" src="js/controllers/subscriptionSettings.js")
